@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 128, 128, 128; /* 회색 시작 */
  --background-end-rgb: 128, 128, 128; /* 회색 끝 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(32, 35, 47); /* 중간 회색 */
  color: rgb(var(--foreground-rgb));
  font-family: 'OAGothic-ExtraBold', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-gradient-text {
  position: relative;
}

.hover-gradient-text::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ec4899, #fdba74, #fde047);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.hover-gradient-text:hover::after {
  opacity: 1;
}

@font-face {
  font-family: 'OAGothic-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2')
    format('woff2');
  font-weight: 800;
  font-style: normal;
}
